# __Analiza Danych__

### importy

In [2]:
import pandas as pd
import numpy as np

## Wiersze do analizy
* person_age
* person_gender
* person_education
* person_income
* person_emp_exp
* person_home_ownership
* cb_person_cred_hist_length

In [4]:
df = pd.read_csv('repo/loan_data.csv')
df.columns

Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')

In [32]:
def df_keep_outside_iqr(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)

    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    print(lower_bound)
    print(upper_bound)
    outside_iqr = df[(df < lower_bound) | (df > upper_bound)]
    return outside_iqr

### 1. person_age - Wiek Klienta

In [33]:
df_pa_std = df_keep_outside_iqr(df['person_age'])
df_pa_std

15.0
39.0

81       144.0
183      144.0
575      123.0
747      123.0
29120     40.0
         ...
44916     42.0
44923     47.0
44947     42.0
44972     43.0
44977     43.0
Name: person_age, Length: 2188, dtype: float64

In [25]:
df_vc = df['person_age'].value_counts().sort_index(ascending=True)##.sort_values(by='person_age', inplace=True)
df_vc

person_age
20.0       17
21.0     1289
22.0     4236
23.0     5254
24.0     5138
25.0     4507
26.0     3659
27.0     3095
28.0     2728
29.0     2455
30.0     2021
31.0     1645
32.0     1403
33.0     1240
34.0      980
35.0      847
36.0      740
37.0      666
38.0      503
39.0      389
40.0      349
41.0      303
42.0      247
43.0      215
44.0      177
45.0      135
46.0      114
47.0      112
48.0       93
49.0       59
50.0       56
51.0       46
52.0       42
53.0       35
54.0       24
55.0       24
56.0       20
57.0       17
58.0       20
59.0        6
60.0       16
61.0       12
62.0        7
63.0        3
64.0        7
65.0       10
66.0       11
67.0        1
69.0        5
70.0        7
73.0        3
76.0        1
78.0        1
80.0        1
84.0        1
94.0        1
109.0       1
116.0       1
123.0       2
144.0       3
Name: count, dtype: int64